/* variables */
*{
    -primary:#089ECF;
    -primary-dark:#0898C7;
    -secondary:#CCCCCC;
    -secondary-dark:#C7C7C7;
    -white:#ffffff;
    -black:#000000;
    -danger:#dc3545;
    -danger-dark: #c03141;
    -success:#28a745;
    -success-dark: #279742;
    -jfx-focus-color: -primary;
    -jfx-default-color: -primary;
}
/* utilities */
.bg-primary {
    -fx-background-color: -primary;
}
.bg-secondary {
    -fx-background-color:-secondary;
}
.text-white {
    -fx-text-fill: -white;
}
.h2{
    -fx-font-style: italic;
    -fx-font-size: 3em;
}

.h1{
    -fx-font-size: 7em;
}
/* styling for buttons */
.btn {
    -fx-background-radius:0;
    -fx-border-radius:0;
    -fx-cursor: hand;
    -fx-font-size: 3em;
}
.btn-sm {
    -fx-font-size: 1em;
}
.btn-lg {
    -fx-font-size: 5em;
}
.btn-primary {
    -fx-background-color: -primary;
    -fx-text-fill: -white;
    -jfx-button-type: RAISED;
}
.btn-primary:hover, .btn-primary:pressed {
    -fx-background-color: -primary-dark;
}
.btn-secondary {
    -fx-background-color: -secondary;
    -fx-text-fill: -black;
}
.btn-secondary:hover,.btn-secondary:pressed {
    -fx-background-color: -secondary-dark;
}
.btn-danger {
    -fx-background-color: -danger;
    -fx-text-fill: -white;
    -jfx-button-type: RAISED;
}
.btn-danger:hover,.btn-danger:pressed {
    -fx-background-color: -danger-dark;
}
.btn-success {
    -fx-background-color: -success;
    -fx-text-fill: -white;
    -jfx-button-type: RAISED;
}
.btn-success:hover,.btn-success:pressed {
    -fx-background-color: -success-dark;
}
.screen-background{
    -fx-background-image: url("../img/Screen Saver@2x.png");
    -fx-background-size: cover, auto;
}